elasticsearch:
  version: 2.2.0
  bind: 127.0.0.1
  port: 9200
  cluster_name: elasticsearch
  log_path: /var/log/elasticsearch
  data_path: /var/lib/elasticsearch

kibana:
  version: 4.4.1
  bind: 0.0.0.0
  port: 5601
  elastic_url: http://localhost:9200


logstash:
  conf:
    test:
      input:
        file:
          path: /var/log/syslog
      output:
        elasticsearch:
          hosts:
            - localhost:9200